{
  "DataDir": "{{ ravendb_data_dir }}",
  "License.Eula.Accepted": true,
  "Setup.Mode": "None",
  "ServerUrl": "http://0.0.0.0:80",
  "Features.Availability": "Experimental",
  "Security.UnsecuredAccessAllowed": "PublicNetwork"
}
